@font-face {
  font-family: 'source_sans_proregular';
  src: url('embed_fonts/SourceSansPro-Regular-webfont.eot');
  src: url('embed_fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('embed_fonts/SourceSansPro-Regular-webfont.woff2') format('woff2'), url('embed_fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('embed_fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'), url('embed_fonts/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prolight';
  src: url('embed_fonts/sourcesanspro-light-webfont.eot');
  src: url('embed_fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('embed_fonts/sourcesanspro-light-webfont.woff2') format('woff2'), url('embed_fonts/sourcesanspro-light-webfont.woff') format('woff'), url('embed_fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('embed_fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'istok_webregular';
  src: url('embed_fonts/IstokWeb-Regular-webfont.eot');
  src: url('embed_fonts/IstokWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('embed_fonts/IstokWeb-Regular-webfont.woff2') format('woff2'), url('embed_fonts/IstokWeb-Regular-webfont.woff') format('woff'), url('embed_fonts/IstokWeb-Regular-webfont.ttf') format('truetype'), url('embed_fonts/IstokWeb-Regular-webfont.svg#istok_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'istok_webbold';
  src: url('embed_fonts/istokweb-bold-webfont.eot');
  src: url('embed_fonts/istokweb-bold-webfont.eot?#iefix') format('embedded-opentype'), url('embed_fonts/istokweb-bold-webfont.woff2') format('woff2'), url('embed_fonts/istokweb-bold-webfont.woff') format('woff'), url('embed_fonts/istokweb-bold-webfont.ttf') format('truetype'), url('embed_fonts/istokweb-bold-webfont.svg#istok_webbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gloria_hallelujahregular';
  src: url('embed_fonts/gloriahallelujah-webfont.eot');
  src: url('embed_fonts/gloriahallelujah-webfont.eot?#iefix') format('embedded-opentype'), url('embed_fonts/gloriahallelujah-webfont.woff2') format('woff2'), url('embed_fonts/gloriahallelujah-webfont.woff') format('woff'), url('embed_fonts/gloriahallelujah-webfont.ttf') format('truetype'), url('embed_fonts/gloriahallelujah-webfont.svg#gloria_hallelujahregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
